@import "colors.scss";
@import "navbar.scss";
@import "footer.scss";
@import "form.scss";
@import "light-theme.scss";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: $bg;
    transition: 0.2s linear;
    overflow-x: hidden;

    .div-align {
        display: flex;
        flex-direction: column;
        padding-left: 10vw;
        padding-right: 10vw;
    }
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: $roxoE;
}

::-webkit-scrollbar-thumb {
    background: $roxoC;
}

::-webkit-scrollbar-thumb:hover {
    background: #444;
}